# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & DB
data/*.db
models/

# Large dataset files (download separately)
data/external/Sentiment140.csv
data/external/Tweets.csv

# Generated data files
data/raw/*.csv
data/processed/*.csv

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
